{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'script.js' %}"></script>
        <script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.min.js' %}"></script>
        
    </head>
    <body>
        <header>
            <h2>Главная</h2>

            {% if user.is_authenticated %}
                <p>Привет, {{ user.username }}!</p>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <p>Привет, гость!</p>
                <a href="{% url 'login' %}">Войти</a> |
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            {% endif %}
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
